* {
   box-sizing: border-box; 
}

body {
    font-family: Verdana, sans-serif;;
    margin: 0;
}
h1{
    text-align: center;
}

.slideshow-container{
    max-height: 500px;
    position: relative;
    margin: auto;
    max-height: 200px;
    /* text-align: center; */
}
/* main{
    max-width: 500px;
} */
.mySlides{
    display: none;
    margin: 0px auto;
    /* text-align: center; */
}
img{
    vertical-align: middle;
}
.dont{
    text-align: center;
}
.dot{
cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .active, .dot:hover {
    background-color: #717171;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }